{% extends "action_picture_base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
{% trans "Reset Password" %}
{% endblock head_title %}

{% block content %}
<div class="text-center mb-5">
    <h2 class="fw-semibold text-body-secondary text-opacity-75">WOOFSPOT</h2>
    <h4 class="text-black fw-light text-opacity-50">{% trans "Reset Your Password" %}</h4>
</div>

<form class="password-reset" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_email" class="form-label text-body-secondary text-opacity-75">
            {% trans "Enter your email address:" %}
        </label>
        {{ form.email }}
    </div>
    <button type="submit" class="btn btn-secondary fw-semibold text-opacity-75 w-100 mb-3">
        {% trans "Send Reset Link" %}
    </button>
</form>


<div class="text-center w-100">
    <div>
        <small class="lh-1">
            <p class="m-0 p-0 text-black fw-light text-opacity-50">Having trouble?</p>
            <p class="m-0 p-0 text-black fw-light text-opacity-50"><a href="mailto:woofspot.app@gmail.com">Contact
                    us</a> for assistance.</p>
        </small>
    </div>

    <a href="{% url 'home' %}"
        class="btn btn-outline-default btn-scale border-secondary-subtle border-opacity-25 active fw-semibold text-body-secondary text-opacity-50 w-50 mt-5">
        {% trans "Return to Home" %}
    </a>
</div>
{% endblock %}