{% extends "action_picture_base.html" %}
{% url 'account_login' as account_login_url %}
{% load i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}

{% block content %}

<div class="text-center mb-3">
    <h4 class="text-black fw-light text-opacity-50 mb-4">Create an Account</h4>

    <small class="text-muted">
        Already have an account?
        <a class="text-decoration-none text-opacity-75" aria-current="page" href="{% url 'account_login' %}">Sign In
        </a>
    </small>
</div>

<ul class="errorlist">
    {% for key, values in form.errors.items %}
    <li>
        {% if key != '__all__' %}
        {{ key|capfirst }}:
        {% endif %}
        {{ values|join:", " }}
    </li>
    {% endfor %}
</ul>

<div class="w-100" id="signup-form">
    <form class="signup" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {% for error in form.get_errors_as_single_list %}
        <ul class="errorlist">
            <li>{{ error }}</li>
        </ul>
        {% endfor %}

        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-secondary text-opacity-75 w-100 my-3" type="submit">
            {% trans "Sign Up"%}</button>
    </form>
</div>

{% endblock %}