{% extends "base.html" %}

{% block content %}

<div class="text-center m-4">
    <h2>MY EVENTS</h2>
</div>

{% if latest_message %}
<div class="alert {{ latest_message.tags }} alert-dismissible fade show" role="alert">
    {{ latest_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if events %}
<section class="event-list">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">

            {% for event in events %}
            <div class="row shadow-sm p-3 mb-5 bg-white rounded">
                <div class="col-md-auto">
                    <div class="d-flex flex-column">
                        <strong class="fs-4">{{ event.event_date|date:"d" }}</strong>
                        <span class="text-muted">{{ event.event_date|date:"M" }}</span>
                    </div>
                </div>
                <div class="col">
                    <h5><a href="{% url 'event-detail' event.slug %}">{{ event.title }}</a></h5>
                    <p>{{ event.location }}
                        <span class="ms-2">
                            {{ event.event_start_time|time:"H:i" }} - {{ event.event_end_time|time:"H:i" }}
                        </span>
                    </p>
                </div>
                <div class="col-md-auto d-flex align-items-center">
                    <form method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{ event.id }}">
                        <button type="submit" name="cancel_reservation" class="btn btn-danger">Cancel
                            reservation</button>
                    </form>
                </div>

            </div>
            {% endfor %}

            {% else %}
            <p>You haven't RSVPed for any events yet.</p>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}