{% extends "base.html" %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% block content %}
{% load static %}

<h2>Welcome to Woofspot!</h2>
<p>Please choose how you want to sign in or sign up:</p>

<ul>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_logout' %}">Logout</a>
    </li>
    {% else %}
    {% load socialaccount %}
    <form action="{% provider_login_url 'google' method='POST' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm ms-2">Login with Google</button>
    </form>

    <li class="nav-item">
        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_signup' %}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_login' %}">Login</a>
    </li>
    {% endif %}
</ul>

{% endblock content %}