{% extends "base.html" %}

{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}

{% block content %}
<div class="text-center mt-5 mt-md-0 pt-5 pt-md-0 my-4">
    <h2 class="text-black text-opacity-50">Profile</h2>
</div>

<div class="profile-container d-flex flex-column flex-md-row 
    mt-3 mb-5 pt-3 pb-5 mb-md-0 pb-md-0 mx-3 mx-md-0
    justify-content-center gap-2">
    {% if user.is_authenticated %}
    {% if latest_message %}
    <div class="alert {{ latest_message.tags }} alert-dismissible fade show" role="alert">
        {{ latest_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            aria-label="Close Profile"></button>
    </div>
    {% endif %}

    <!-- User Details Card -->
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <div class="card border-secondary">
            <div class="card-header bg-info-subtle text-black text-opacity-50 text-center">
                <h5 class="mb-0">User Details</h5>
            </div>
            <div class="card-body text-black text-opacity-50">
                <p class="mb-2"><strong class="text-black text-opacity-75">Username:</strong> {{ user.username }}</p>
                <p class="mb-0"><strong class="text-black text-opacity-75">Email:</strong> {{ user.email }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <!-- Forbidden Page Message -->
    <div class="forbidden-page text-center py-5">
        <h4 class="text-danger">Access Denied</h4>
        <p>You do not have permission to view this page.</p>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">
            <i class="fa-solid fa-house me-2"></i>Return to Home
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}