asgiref==3.8.1
asn1crypto==1.5.1
cloudinary==1.41.0
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==5.1.3
django-allauth==65.2.0
django-browser-reload==1.17.0
django-crispy-forms==2.3
django-summernote==0.8.20.0
gunicorn==23.0.0
oauthlib==3.2.2
psycopg2==2.9.10
PyJWT==2.9.0
pyOpenSSL==24.3.0
pytz==2024.2
requests-oauthlib==2.0.0
snowflake-connector-python==3.12.4
sortedcontainers==2.4.0
sqlparse==0.5.1
whitenoise==6.8.2
