@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --header-font-family: "Montserrat", sans-serif;
  --white-color: rgb(251, 251, 251);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::placeholder {
  color: #6c757d;
  opacity: 1;
}

/* Custom allauth styles for login, signup pages */
ul.errorlist {
  list-style-type: none;
  color: rgb(232, 86, 98);
  text-align: center;
  padding-left: 0;
}

#id_password_helptext {
  display: flex;
  justify-content: end;
}

#id_password_helptext > a {
  text-decoration: none;
  color: #6d7d9c;
  font-size: smaller;
}

.login p:last-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#id_remember {
  padding: 0.5rem;
  width: 1rem;
}

form.signup ul:last-of-type {
  list-style-type: none;
  color: #6d7d9c;
  font-size: smaller;
  padding-left: 0;
}

.mx-lg-10 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.bold-header-font {
  font-family: var(--header-font-family);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.tagline-header-font {
  font-family: var(--header-font-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.tagline-p-font {
  font-family: var(--header-font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.user-icon .btn,
.xmark-icon .btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-icon:hover,
.xmark-icon:hover {
  cursor: pointer;
}

#rive-dog {
  height: 128px;
  width: 128px;
}

/* base.html styles */

.logo-size {
  width: 64px;
  height: auto;
}

@media (max-width: 768px) {
  .logo-size {
    width: 45px;
    height: auto;
  }
}

#bg-image {
  background-image: url("../images/two_happy_dogs2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: none;
}

#search-form {
  display: flex;
  justify-content: left;
  align-items: center;
}

#search-input {
  border: 1px solid rgba(124, 124, 125, 255);
  border-radius: 5px 0 0 5px;
}

#search-input:focus {
  outline: none;
}

#bth-search-form {
  border: 1px solid rgba(124, 124, 125, 255);
  padding: 0.37rem;
  background-color: var(--white-color);
  border-radius: 0 5px 5px 0;
  color: rgba(124, 124, 125, 1);
  border-left-style: none;
}

#bth-search-form:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-form-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    z-index: 10;
    padding: 1rem;
  }
}

/* Get started page */
.xmark-icon .fa-solid {
  display: inline-block;
  vertical-align: middle;
}

.action_picture {
  overflow: hidden;
}

.action_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input::placeholder {
  color: rgba(190, 187, 186, 0.6) !important;
}

.google-icon {
  width: 24px;
  height: 24px;
}

.or-line {
  display: flex;
  flex-direction: row;
}

.or-line:before,
.or-line:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgba(149, 149, 149, 0.6);
}

.or-line:before {
  margin: auto 1rem auto auto;
}

.or-line:after {
  margin: auto auto auto 1rem;
}

/* Results page */
.results-container {
  height: calc(100vh - 130px);
}

.no-results img {
  height: 200px;
  width: auto;
}
