@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-family: "Rubik", sans-serif;
  --header-font-family: "Fredoka", sans-serif;
  --white-color: rgb(251, 251, 251);
  --bootstrap-black: rgb(8, 10, 12);
  --bootstrap-black-20: rgba(8, 10, 12, 0.2);
  --bootstrap-danger-75: rgb(220, 53, 69, 0.75);
  --bootstrap-danger-90: rgb(220, 53, 69, 0.9);
  --bootstrap-danger-100: rgb(220, 53, 69);
  --bootstrap-gray-100: rgb(243, 244, 247);
  --bootstrap-gray-200: rgb(231, 234, 238);
  --bootstrap-gray-300: rgb(219, 223, 230);
  --bootstrap-gray-400: rgb(207, 212, 222);
  --bootstrap-gray-500: rgb(170, 179, 197);
  --bootstrap-gray-600: rgb(109, 125, 156);
  --bootstrap-gray-700: rgb(74, 86, 109);
  --bootstrap-gray-800: rgb(50, 58, 73);
  --bootstrap-gray-900: rgb(33, 38, 49);
  --bootstrap-bs-blue: rgb(13, 110, 253);
  --bootstrap-bs-indigo: rgb(102, 16, 242);
  --bootstrap-bs-purple: rgb(111, 66, 193);
  --bootstrap-bs-pink: rgb(214, 51, 132);
  --bootstrap-bs-orange: rgb(253, 126, 20);
  --bootstrap-bs-yellow: rgb(255, 193, 7);
  --bootstrap-bs-green: rgb(25, 135, 84);
  --bootstrap-bs-teal: rgb(32, 201, 151);
  --bootstrap-bs-cyan: rgb(13, 202, 240);
  --bootstrap-bs-gray: rgb(108, 117, 125);
  --bootstrap-bs-gray-75: rgba(108, 117, 125, 0.75);
  --bootstrap-bs-gray-50: rgba(108, 117, 125, 0.5);
  --bootstrap-bs-gray-25: rgba(108, 117, 125, 0.25);
  --bs-gray-700: rgb(73, 80, 87);
  --bs-gray-700-85: rgba(73, 80, 87, 0.85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tooltip-inner {
  background-color: var(--bootstrap-danger-75);
  color: var(--white-color);
  border: 1px solid var(--bootstrap-danger-90);
  box-shadow: 0px 4px 6px var(--bootstrap-black-20);
  margin-bottom: 0.5rem;
}

.tooltip-arrow {
  display: none !important;
}

::placeholder {
  color: rgba(124, 124, 125, 0.6) !important;
}

/* Custom allauth styles for login, signup, reset password pages */

#login-form label,
#signup-form label {
  font-size: 0.95rem;
  color: var(--bootstrap-bs-gray);
}

/* The entire error list will be displayed in a custom section before the form.
<ul class="errorlist">
    {% for key, values in form.errors.items %}
    <li>
        {% if key != '__all__' %}
        {{ key|capfirst }}:
        {% endif %}
        {{ values|join:", " }}
    </li>
    {% endfor %}
</ul>
This is a deliberate measure to avoid having two separate error lists: 
one before and one within the form.
*/
#signup-form .errorlist {
  display: none !important;
}

form.login ul:last-of-type,
form.password-change ul:last-of-type,
form.signup ul:last-of-type {
  display: none !important;
}

ul.errorlist {
  list-style-type: none;
  color: var(--bootstrap-danger-90);
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  padding-left: 0;
}

#id_remember {
  padding: 0.5rem;
  width: 1rem;
}

#id_password_helptext,
#id_remember {
  font-size: smaller;
}

form.login p,
form.signup p {
  margin-bottom: 0.5rem;
}

form.login p:last-of-type {
  display: none !important;
}

/* landing page */

.user-icon .btn,
.xmark-icon .btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-icon:hover,
.xmark-icon:hover {
  cursor: pointer;
}

/* Action picture base pages */

#rive-dog {
  height: 110px;
  width: 110px;
  opacity: 0.8;
}

#logo-text {
  height: 60px;
  width: auto;
}

/* base.html styles */

.logo-size {
  width: 200px;
  height: auto;
}

@media (max-width: 576px) {
  .logo-size {
    width: 160px;
    height: auto;
  }
}

/* Popover menu */
#menu {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 40px var(--bootstrap-black-20);

  /*  undo popover styles  */
  border: none;
  padding: 0;
  margin: 0;
  left: auto;

  /*  animate  */
  transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete,
    overlay 0.5s ease-out allow-discrete;
  translate: 100% 0;

  &:popover-open {
    translate: 0 0;
  }
}

#menu ul {
  list-style-type: none;
  margin-bottom: 0;
}

#menu li {
  transition: transform 0.2s ease-in-out;
}

#menu li:hover {
  transform: scale(1.1);
}

/* */

/* Good to know section on landing page (base.html) */

.accordion-button {
  background-color: var(--bs-gray-700-85) !important;
  color: var(--bootstrap-gray-100) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-gray-700) !important;
}

.accordion-button:focus {
  border-color: var(--bootstrap-bs-gray-75) !important;
  box-shadow: none;
}

/* Remove the default arrow */
.accordion-button::after {
  display: none;
}

/* Font Awesome icons for collapsed and expanded states */
.accordion-button.collapsed::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: 900;
  margin-right: 10px;
}

.accordion-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f068";
  font-weight: 900;
  margin-right: 10px;
}

/* Contact us section on landing page (base.html) */

#contact-us-form textarea:last-of-type {
  resize: none;
}

/* Landing page */

#bg-image {
  height: calc(100vh - 10rem);
  margin: 5rem 0rem;
  background-image: url("../images/unleash_fun.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  #bg-image {
    height: calc(100vh - 6rem);
    margin-top: 5.3rem;
    margin-bottom: 0rem;
  }
}

#search-form {
  display: flex;
  justify-content: left;
  align-items: center;
}

#search-input {
  border-radius: 5px 0 0 5px;
}

#search-input:focus {
  box-shadow: none;
}

#bth-search-form {
  border: 1px solid #dee2e6;
  padding: 0.37rem;
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  color: var(--bootstrap-bs-gray);
  background-color: var(--white-color);
}

#bth-search-form:hover {
  cursor: pointer;
  background-color: var(--bootstrap-bs-gray);
  border: 1px solid var(--bootstrap-bs-gray);
  border-left: none;
  color: var(--white-color);
}

@media (max-width: 576px) {
  .search-form-container {
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }
}

/* Get started page */
.xmark-icon .fa-solid {
  display: inline-block;
  vertical-align: middle;
}

.action_picture {
  overflow: hidden;
}

.action_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.google-icon {
  width: 24px;
  height: 24px;
}

.or-line {
  display: flex;
  flex-direction: row;
}

.or-line:before,
.or-line:after {
  content: "";
  flex-grow: 100;
  border-bottom: 1px solid rgba(149, 149, 149, 0.6);
}

.or-line:before {
  margin: auto 1rem auto auto;
}

.or-line:after {
  margin: auto auto auto 1rem;
}

/* Results page */
.results-container {
  height: calc(100vh - 130px);
}

.no-results img {
  height: 200px;
  width: auto;
}

/* Event view page */
.event-image > img {
  width: 500px;
  height: auto;
}

.btn-scale {
  transition: transform 0.2s ease-in-out;
}

.btn-scale:hover {
  transform: scale(1.05);
}

/* Action picture pages */

.action-picture-form h4 {
  font-family: var(--header-font-family);
}
