<!DOCTYPE html>
<html>

<head>
    <title>New Event Created</title>
</head>

<body>
    <p>Hello {{ user.username }},</p>
    <p>You've successfully created the event "<strong>{{ event.title }}</strong>"!</p>
    <p>Event details:</p>
    <ul>
        <li><strong>Date:</strong> {{ event.event_date }}</li>
        <li><strong>Time:</strong> {{ event.event_start_time }} - {{ event.event_end_time }}</li>
        <li><strong>Location:</strong> {{ event.location }}</li>
    </ul>

    <p>Spread the word and invite others to join!</p>

    <p>Thank you,<br>The Woofspot Team</p>
</body>

</html>