<!DOCTYPE html>
<html>

<head>
    <title>Thank You for Your Feedback</title>
</head>

<body>
    <p>Hello {{ user.username }},</p>
    <p>Thank you for leaving a rating for the event "<strong>{{ event.title }}</strong>" held on {{ event.event_date }}.
    </p>
    <p>Your feedback is greatly appreciated and helps us improve our events for the entire Woofspot community!</p>

    <p>If you have any further thoughts or questions, feel free to reach out to us.</p>
    <p><a href="mailto:woofspot.app@gmail.com">woofspot.app@gmail.com</a></p>
    <p>Thank you,<br>Your Woofspot Team</p>
</body>

</html>