{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}

{% block head_title %}
{% trans "All Events List" %}
{% endblock head_title %}

{% block content %}

<!-- Future Events Section -->
<div class="text-center my-4 mt-5 pt-5">
    <h2 class="text-black text-opacity-50">Future events</h2>
    <p class="fst-italic text-body-secondary text-opacity-75">Explore upcoming pet-friendly adventures</p>
</div>
{% if future_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    {% for event in future_events %}
    {% include "event_card_container.html" with event=event is_past_event=False %}
    {% endfor %}
</div>
{% else %}
<div>
    <p class="text-center">No events in future.</p>
</div>
{% endif %}

<!-- Past Events Section -->
<div class="text-center my-4">
    <h2 class="text-black text-opacity-50">Past Events</h2>
    <p class="fst-italic text-body-secondary text-opacity-75">See what you missed (and get ideas for your next
        adventure)</p>
</div>

{% if past_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-5 pb-5">
    {% for event in past_events %}
    {% include "event_card_container.html" with event=event is_past_event=True %}
    {% endfor %}
</div>
{% else %}
<div class="mb-5 pb-5">
    <p class="text-center">No events in past.</p>
</div>
{% endif %}

{% endblock %}