{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
{% trans "View Event" %}
{% endblock head_title %}

{% block content %}
<!-- <div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h2 class="text-center">{{ event.title }}</h2> -->
<!-- Start of future events section -->
<!-- {% if not is_past_event and user == event.organizer %}
    {% include "edit_delete_event_container.html" %}
    {% endif %}

    {% if not is_past_event and user != event.organizer and user_registered %}
    {% include "like_container.html" %}
    <i class="fa-solid fa-ticket fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Planning To Attend" aria-label="Attend"></i>
    {% include "cancel_reservation_container.html"%}
    {% endif %}

    {% if not is_past_event and user != event.organizer and not user_registered %}
    {% include "like_container.html" %}
    <form method="POST" action="{% url 'reservation_submit' event.slug %}">
      {% csrf_token %}
      <button type="submit" name="reserve_spot" class="btn btn-link">
        <i class="fa-solid fa-plus fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Do you want to join?" aria-label="Join to event"></i></button>
    </form>
    {% endif %} -->
<!-- End of future events section -->

<!-- Start of past events section -->
<!-- {% if is_past_event and user == event.organizer %}
    <i class="fa-solid fa-star fa-xl text-warning text-opacity-75" title="Star Rating"></i>
    <p class="fw-semibold text-warning text-opacity-50 m-0">
      {% if average_rating %}
      {{ average_rating }}
      {% else %}
      0
      {% endif %}
    </p>
    {% endif %}

    {% if is_past_event and user != event.organizer and user_registered %}
    <a href="{% url 'rating_submit' event.slug %}?next={{ request.path }}" class="btn btn-link m-0 p-0">
      <i class="fa-regular fa-star fa-xl text-warning text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
        title="How was it?" aria-label="How was it?"></i></a>
    <p class="fw-semibold text-warning text-opacity-50 m-0">
      {% if average_rating %}
      {{ average_rating }}
      {% else %}
      0
      {% endif %}
    </p>
    {% endif %}

    {% if is_past_event and user != event.organizer and not user_registered %}
    <i class="fa-solid fa-star fa-xl text-warning text-opacity-75"></i>
    <p class="fw-semibold text-warning text-opacity-50 m-0">
      {% if average_rating %}
      {{ average_rating }}
      {% else %}
      0
      {% endif %}
    </p>
    {% endif %} -->
<!-- End of past events section -->

<!-- <div class="row">
      <div class="col-12 col-md-6">
        <p class="event-details">
          <strong>Location:</strong> {{ event.location }}<br />
          <strong>Date:</strong> {{ event.event_date|date:"F j, Y" }}<br />
          <strong>Time:</strong> {{ event.event_start_time|time:"g:i A" }} -
          {{ event.event_end_time|time:"g:i A" }}
        </p>
      </div>
    </div>
    {% if event.image %}
    <div class="event-image">
      <img src="{{ event.image.url }}" alt="{{ event.title }}" />
    </div>
    {% else %}
    <p class="text-danger">No image</p>
    {% endif %}

    <div class="event-content">{{ event.content | safe }}</div>

    <div class="reservation-section mt-4 text-left">

      {% if not is_past_event and user != event.organizer and user_registered %}
      <p>You're planning to be there.</p>
      {% endif %}

      {% if is_past_event and user != event.organizer and user_registered %}
      <p class="mb-0">We hope you enjoyed the event!</p>
      <p>Feel free to rate it and share your feedback.</p>
      {% endif %}
    </div>
  </div> -->

<div class="event-card-view rounded-4">
  <div class="row flex-column flex-md-row align-items-stretch m-0 p-0">
    <!-- Event Image -->
    <div class="event-view-image col-12 col-md-4 rounded-4 shadow-sm "
      style="background-image: url('{{ event.image_url }}');">
    </div>
    <!-- Event Details -->
    <div class="card-body bg-success-subtle col-12 col-md-8 text-black p-5 rounded-4 shadow-sm">
      <h5 class="card-title mb-3">{{ event.title }}</h5>
      <p class="card-text text-muted mb-0">
      <p class="card-text text-muted mb-0"><strong>Date:</strong> {{ event.event_date }}</p>
      <p class="card-text text-muted mb-0"><strong>Time:</strong>
        {{ event.event_start_time }} - {{ event.event_end_time }}
      </p>
      <p class="card-text text-muted"><strong class="mb-2">Location:</strong> {{ event.location }}</p>
      <span id="content-truncated-{{ event.id }}" class="content-truncated">
        {{ event.content|truncatewords:20 }}
      </span>
      <span id="content-full-{{ event.id }}" class="d-none">
        {{ event.content }}
      </span>
      </p>
      {% if event.content|length > 20 %}
      <a href="#" class="toggle-content text-decoration-none" data-event-id="{{ event.id }}">
        Show More
      </a>
      {% endif %}
    </div>
  </div>
</div>



{% if next %}
<div class="m-5 pb-5 text-center">
  <a href="{{ next }}" class="btn btn-outline-secondary rounded-pill pe-5">
    <i class="fa-solid fa-less-than"></i>&nbsp; &nbsp; &nbsp; &nbsp; Back</a>
</div>
{% endif %}
</div>

{% endblock %}