{% extends "base.html" %}

{% block content %}

<div class="text-center my-4">
    <h2>MY EVENTS</h2>
</div>

{% if latest_message %}
<div class="alert {{ latest_message.tags }} alert-dismissible fade show" role="alert">
    {{ latest_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if events %}
<section class="event-list">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">

            {% for event in events %}
            <div class="row shadow-sm p-3 mb-5 bg-white rounded">
                <div class="col-auto text-md-center text-sm-start">
                    <div class="d-flex flex-row flex-sm-column flex-md-column align-items-center">
                        <strong class="fs-4">{{ event.event_date|date:"d" }}</strong>
                        <span class="text-muted fs-5 ms-sm-2">{{ event.event_date|date:"M" }}</span>
                    </div>
                </div>
                <div class="col">
                    <h5><a href="{% url 'event_detail' event.slug %}">{{ event.title }}</a></h5>
                    <p>{{ event.location }}
                        <span class="ms-2">
                            {{ event.event_start_time|time:"H:i" }} - {{ event.event_end_time|time:"H:i" }}
                        </span>
                    </p>
                </div>
                <div class="col-md-auto d-flex justify-content-center">
                    <a href="{% url 'cancel_event' event.slug %}">
                        <button class="btn btn-danger">Cancel spot</button>
                    </a>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <p>You haven't reserved a spot for any events yet.</p>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}