{% extends "base.html" %} {% block content %}

<div class="container my-5 pb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h2 class="text-center">{{ event.title }}</h2>
      {% if event.event_date > today %}
      <!-- For future event start -->
      {% if user == event.organizer %}
      <!-- host -->
      {% include "edit_delete_event_container.html" %}
      {% else %}
      <!-- user -->
      {% include "like_container.html" %}
      {% endif %}
      <!-- For future event end -->
      {% else %}
      <!-- For past event start -->
      {% if average_rating %}
      {% if user == event.organizer %}
      <!-- host -->
      <i class="fa-solid fa-star fa-xl text-warning text-opacity-75"></i>
      <p class="fw-semibold text-danger text-opacity-50 mb-0 ms-2">
        {{ average_rating }}
      </p>
      {% elif user_registered %}
      <a href="{% url 'rating_submit' event.slug %}?next={{ request.path }}" class="btn btn-link">
        <i class="fa-regular fa-star fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip"
          data-bs-placement="top" title="How was it?" aria-label="How was it?"></i>
      </a>
      <p class="fw-semibold text-danger text-opacity-50 mb-0 ms-2">
        {{ average_rating }}
      </p>
      {% else %}
      <i class="fa-regular fa-star fa-xl text-warning text-opacity-75"></i>
      {% endif %}
      {% else %}
      <i class="fa-regular fa-star fa-xl text-warning text-opacity-75"></i>
      {% endif %}
      {% endif %}

      <div class="row">
        <div class="col-12 col-md-6">
          <p class="event-details">
            <strong>Location:</strong> {{ event.location }}<br />
            <strong>Date:</strong> {{ event.event_date|date:"F j, Y" }}<br />
            <strong>Time:</strong> {{ event.event_start_time|time:"g:i A" }} -
            {{ event.event_end_time|time:"g:i A" }}
          </p>
        </div>
      </div>
      {% if event.image %}
      <div class="event-image">
        <img src="{{ event.image.url }}" alt="{{ event.title }}" />
      </div>
      {% else %}
      <p class="text-danger">No image</p>
      {% endif %}

      <div class="event-content">{{ event.content | safe }}</div>

      <div class="rsvp-section mt-4 text-left">
        {{ average_rating }}
        {% if user_registered %}
        <p>You are attending this event.</p>

        <!-- TODO: Add option for past event -->

        {% elif user.is_authenticated %}
        <form method="POST">
          {% csrf_token %}
          <button type="submit" name="reserve_spot" class="btn btn-primary">
            Reserve spot
          </button>
        </form>
        {% else %}
        <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary">
          Reserve spot (Login Required)</a>
        {% endif %}
      </div>
    </div>
    {% if next %}
    <div class="mt-5 text-center">
      <a href="{{ next }}" class="btn btn-outline-secondary rounded-pill pe-5">
        <i class="fa-solid fa-less-than"></i>&nbsp; &nbsp; &nbsp; &nbsp; Back</a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}