{% extends "base.html" %}

{% block content %}

<div class="container my-5 pb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2 class="text-center">{{ event.title }}</h2>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="event-details">
                        <strong>Location:</strong> {{ event.location }}<br>
                        <strong>Date:</strong> {{ event.event_date|date:"F j, Y" }}<br>
                        <strong>Time:</strong> {{ event.event_start_time|time:"g:i A" }} -
                        {{ event.event_end_time|time:"g:i A" }}
                    </p>
                </div>
            </div>
            {% if event.image %}
            <div class="event-image">
                <img src="{{ event.image.url }}" alt="{{ event.title }}">
            </div>
            {% else %}
            <p class="text-danger">No image</p>
            {% endif %}

            <div class="event-content">
                {{ event.content | safe }}
            </div>

            <div>
                {% if user == event.organizer %}
                <a href="{% url 'event_edit' event.slug %}" class="btn btn-link text-primary text-opacity-75">
                    Edit
                </a>
                {% endif %}
            </div>

            <div class="rsvp-section mt-4 text-left">
                <p>Average Rating: {{ average_rating }}</p>

                {% if user_registered %}
                <p>You are attending this event.</p>

                {% elif user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="reserve_spot" class="btn btn-primary">Reserve spot</button>
                </form>
                {% else %}
                <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary">
                    Reserve spot (Login Required)</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}