{% extends "action_picture_base.html" %}

{% block content %}
<div class="px-4">
    <h2 class="text-center">Edit Event</h2>

    <ul class="errorlist">
        {% for key, value in form.errors.items %}
        <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
        {% endfor %}
    </ul>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div class="mb-3">
            {{ form.location.label_tag }}
            {{ form.location }}
        </div>
        <div class="d-flex flex-wrap justify-content-around gap-4 mb-3">
            <div>
                {{ form.event_date.label_tag }}
                {{ form.event_date }}
            </div>
            <div class="d-flex flex-row gap-2">
                <div>
                    {{ form.event_start_time.label_tag }}
                    {{ form.event_start_time }}
                </div>
                <div>
                    {{ form.event_end_time.label_tag }}
                    {{ form.event_end_time }}
                </div>
            </div>
        </div>

        <div class="img_edit mb-3">
            {% if event.image %}
            <div class="current-image mb-3 d-flex flex-column align-items-center">
                <label for="id_image">
                    <small class="text-muted">Current image for this event:</small>
                </label>
                <div class="image-container">
                    <img src="{{ event.image.url }}" alt="Current Event Image" class="img-fluid"
                        style="max-width: 300px; border-radius: 8px;">
                </div>
            </div>
            {% else %}
            <p class="text-warning">The event does not have an image.</p>
            {% endif %}

            <div class="mt-4 px-4">
                <label for="id_image">New Image:</label>
                {{ form.image }}
                <small class="form-text text-muted">Upload a new image for this event (optional).</small>
            </div>
        </div>

        <div class="mb-5 pb-5 d-flex justify-content-around">
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-secondary fw-semibold text-opacity-75 px-4">Save
                Changes</button>
            <a href="{% url 'my_event_list' %}"
                class="btn btn-outline-default active fw-semibold text-opacity-75 text-body-secondary text-opacity-75 px-4">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}