{% extends "base.html" %}

{% block content %}

<div class="text-center my-4">
    <h2>Events I'm Organizing</h2>
</div>

<div class="container mt-5">
    {% if organizing_events %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for event in organizing_events %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'event_detail' event.slug %}"
                            class="text-decoration-none text-black text-opacity-50 text-capitalize">
                            {{ event.title }}</a>
                    </h5>
                    <p class="card-text text-muted my-0"><strong>Date:</strong> {{ event.event_date }}</p>
                    <p class="card-text text-muted my-0"><strong>Time:</strong>
                        {{ event.event_start_time }} - {{event.event_end_time }}</p>
                    <p class="card-text text-muted my-0"><strong>Location:</strong> {{ event.location }}</p>
                </div>
                <!-- TODO: Add edit and cancel features -->
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You are not organizing any events yet.</p>
    {% endif %}
    <div class="mt-4 text-center">
        <a href="{% url 'events_organizer_create_event' %}" class="btn btn-success">Create New Event</a>
    </div>
</div>


<div class="text-center my-4">
    <h2>Events I'm Attending</h2>
</div>

{% if attending_events %}
<section class="event-list">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">

            {% for event in attending_events %}
            <div class="row shadow-sm p-3 mb-5 bg-white rounded">
                <div class="col-auto text-md-center text-sm-start">
                    <div class="d-flex flex-row flex-sm-column flex-md-column align-items-center">
                        <strong class="fs-4">{{ event.event_date|date:"d" }}</strong>
                        <span class="text-muted fs-5 ms-sm-2">{{ event.event_date|date:"M" }}</span>
                    </div>
                </div>
                <div class="col">
                    <h5><a href="{% url 'event_detail' event.slug %}"
                            class="text-decoration-none text-black text-opacity-50 text-capitalize">
                            {{ event.title }}</a></h5>
                    <p>{{ event.location }}
                        <span class="ms-2">
                            {{ event.event_start_time|time:"H:i" }} - {{ event.event_end_time|time:"H:i" }}
                        </span>
                    </p>
                </div>
                <div class="col-md-auto d-flex justify-content-center">
                    <a href="{% url 'cancel_event' event.slug %}">
                        <button class="btn btn-danger">Cancel spot</button>
                    </a>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <p>You haven't reserved a spot for any events yet.</p>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}