{% extends "action_picture_base.html" %}
{% load allauth i18n %}

{% block head_title %}
{% trans "Cancel Event" %}
{% endblock head_title %}

{% block content %}
<div class="text-center">
    <h2 class="fw-semibold text-body-secondary text-opacity-75">WOOFSPOT</h2>
    <h5 class="text-black fw-light text-opacity-50 mt-2 mb-5">Are you sure you want to delete the event {{event.title}}?
    </h5>

    <div class="d-flex justify-content-evenly">
        <a href="{% url 'my_event_list' %}">
            <button type="submit"
                class="btn btn-outline-default active fw-semibold text-body-secondary text-opacity-75 px-5">No</button>
        </a>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            <button type="submit" name="event_delete" class="btn btn-danger">
                Delete event
            </button>
        </form>

    </div>
</div>
{% endblock content %}