{% extends "action_picture_base.html" %}
{% load allauth i18n %}

{% block head_title %}
{% trans "Cancel Event" %}
{% endblock head_title %}

{% block content %}
<div class="text-center w-75">
    <h5 class="text-black fw-light text-opacity-50">Are you sure you want to delete the event</h5>
    <h5 class="text-black fw-light text-opacity-50 fw-semibold mt-2 mb-5">"{{event.title}}?"</h5>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.id }}">
        <div class="d-flex flex-column-reverse flex-column flex-md-row gap-3">
            <a href="{{ next }}"
                class="btn btn-outline-default active text-body-secondary text-opacity-75 flex-fill btn-scale">No</a>
            <button type="submit" name="event_delete" class="btn btn-danger opacity-75 flex-fill btn-scale"
                aria-label="Event Delete accept">
                Delete</button>
        </div>
    </form>
</div>
{% endblock content %}