{% extends "base.html" %}

{% block content %}

<div class="text-center my-5">
    <h2 class="bold-header-font text-black text-opacity-50">EVENT CALENDAR</h2>
</div>

<section class="event-list">
    <div class="row justify-content-center">
        {% for event in events %}
        <div class="row shadow-sm p-3 mb-5 bg-white rounded row-gap-2">
            <div class="col-12 order-1 text-center">
                <h5>{{ event.title }}</h5>
            </div>

            <div class="col-2 order-2 text-center">
                <strong class="fs-4">{{ event.event_date|date:"d" }}</strong>
            </div>
            <div class="col-10 order-2">{{ event.location }}</div>

            <div class="col-2 order-3 text-center">
                <span class="text-muted">{{ event.event_date|date:"M" }}</span>
            </div>
            <div class="col-10 order-3">
                <span>
                    {{ event.event_start_time|time:"H:i" }} - {{ event.event_end_time|time:"H:i" }}
                </span>
            </div>

            <div class="col-12 order-4 d-flex justify-content-end align-items-center gap-3">
                <div class="d-flex align-items-center" id="like-container" hx-post="{% url 'like_toggle' event.slug %}"
                    hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    <div>
                        {% if user.is_authenticated %}
                        <button type="submit" class="btn p-0">
                            {% if user in event.liked_by.all %}
                            <i class="fa-solid fa-heart fa-2x text-danger text-opacity-50"></i>
                            {% else %}
                            <i class="fa-regular fa-heart fa-2x text-danger text-opacity-50"></i>
                            {% endif %}
                        </button>
                        {% else %}
                        <a href="{% url 'account_login' %}" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Login to like">
                            <i class="fa-regular fa-heart fa-2x text-danger text-opacity-50"></i>
                        </a>
                        {% endif %}
                    </div>
                    <div>
                        <p class="fw-semibold text-danger text-opacity-50 mb-0">{{ event.like_count }}</p>
                    </div>
                </div>
                <div>
                    <a href="{% url 'event_view' event.slug %}" class="btn btn-primary">More details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>

{% endblock %}