{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}

{% block head_title %}
{% trans "My Event List" %}
{% endblock head_title %}

{% block content %}


<!-- Future Organizing Events Section -->
<div class="text-center mt-5 pt-5 my-4">
    <h2 class="text-black text-opacity-50 mt-5">Hosted By Me</h2>
</div>

<div class="mb-4 text-center">
    <a href="{% url 'event_create' %}?next={{ request.path }}" class="btn btn-outline-success btn-scale">Host New
        Event</a>
</div>

{% if hosted_by_me_future_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-5">
    {% for event in hosted_by_me_future_events %}
    {% include "event_card_container.html" with event=event is_past_event=False %}
    {% endfor %}
</div>
{% else %}
<div class="mb-5">
    <p class="text-center">You are not organizing any events yet.</p>
</div>
{% endif %}

<!-- Planning To Attend Section -->
<div class="text-center my-4">
    <h2 class="text-black text-opacity-50">Planning To Attend</h2>
</div>
{% if planning_to_attend_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-5">
    {% for event in planning_to_attend_events %}
    {% include "event_card_container.html" with event=event is_past_event=False %}
    {% endfor %}
</div>
{% else %}
<div class="mb-5">
    <p class="text-center">You haven't reserved a spot for any future events yet.</p>
</div>
{% endif %}

<!-- Past Events Section -->
<div class="text-center my-4">
    <h2 class="text-black text-opacity-50">Past Events</h2>
</div>

{% if past_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-5 pb-5">
    {% for event in past_events %}
    {% include "event_card_container.html" with event=event is_past_event=True %}
    {% endfor %}
</div>
{% else %}
<div class="mb-5 pb-5">
    <p class="text-center">You haven't hosted any events or made any reservations yet.</p>
</div>
{% endif %}

{% endblock %}