{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}

{% block head_title %}
{% trans "My Event List" %}
{% endblock head_title %}

{% block content %}
<!-- Future Organizing Events Section -->
<div class="text-center my-4">
    <h2 class="bold-header-font text-black text-opacity-50">Hosted By Me</h2>
</div>

<div class="mb-4 text-center">
    <a href="{% url 'event_create' %}?next={{ request.path }}" class="btn btn-outline-success">Host New Event</a>
</div>

{% if future_organizing_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for event in future_organizing_events %}
    <div class="col d-flex justify-content-center align-items-center mb-4">
        <div class="card event-card shadow-sm position-relative">
            <div class="event-card-image card-body p-0 rounded-2"
                style="background-image: url('{{ event.image_url }}');">
            </div>

            <div class="card-footer bg-light bg-opacity-100 text-white position-absolute bottom-0 w-100 p-3">
                <div class="d-flex h-100 justify-content-between">
                    <div class="d-flex flex-column justify-content-between">
                        <h5 class="card-title mt-0">
                            <a href="{% url 'event_view' event.slug %}?next={{ request.path }}"
                                class="text-decoration-none text-black text-opacity-75 text-capitalize"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check Event's Details"
                                aria-label="event details">
                                {{ event.title }}
                            </a>
                        </h5>
                        <div>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-regular fa-calendar-days me-1"></i>
                                {{ event.event_date }}
                            </p>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-regular fa-clock me-1"></i>
                                {{ event.event_start_time }} - {{ event.event_end_time }}
                            </p>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                {{ event.location }}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-start">
                        {% include "edit_delete_event_container.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    <p class="text-center">You are not organizing any events yet.</p>
</div>
{% endif %}

<!-- Future Attending Events Section -->
<div class="text-center my-4">
    <h2 class="bold-header-font text-black text-opacity-50">Planning To Attend</h2>
</div>
{% if future_attending_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for event in future_attending_events %}
    <div class="col d-flex justify-content-center align-items-center mb-4">
        <div class="card event-card shadow-sm position-relative">
            <div class="event-card-image card-body p-0 rounded-2"
                style="background-image: url('{{ event.image_url }}');">
            </div>

            <div class="card-footer bg-light bg-opacity-100 text-white position-absolute bottom-0 w-100 p-3">
                <div class="d-flex h-100 justify-content-between">
                    <div class="d-flex flex-column justify-content-between">
                        <h5 class="card-title mt-0">
                            <a href="{% url 'event_view' event.slug %}?next={{ request.path }}"
                                class="text-decoration-none text-black text-opacity-75 text-capitalize"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check Event's Details"
                                aria-label="event details">
                                {{ event.title }}
                            </a>
                        </h5>
                        <div>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-regular fa-calendar-days me-1"></i>
                                {{ event.event_date }}
                            </p>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-regular fa-clock me-1"></i>
                                {{ event.event_start_time }} - {{ event.event_end_time }}
                            </p>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                {{ event.location }}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-start">
                        {% include "cancel_reservation_container.html"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    <p class="text-center">You haven't reserved a spot for any future events yet.</p>
</div>
{% endif %}

<!-- Past Events Section -->
<div class="text-center my-4">
    <h2 class="bold-header-font text-black text-opacity-50">Past Events</h2>
</div>

{% if past_events %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for event in past_events %}
    <div class="col d-flex justify-content-center align-items-center mb-4">
        <div class="card event-card shadow-sm position-relative">
            <div class="event-card-image card-body p-0 rounded-2"
                style="background-image: url('{{ event.image_url }}');">
            </div>

            <div class="card-footer bg-light bg-opacity-100 text-white position-absolute bottom-0 w-100 p-3">
                <div class="d-flex h-100 justify-content-between">
                    <div class="d-flex flex-column justify-content-between">
                        <h5 class="card-title mt-0">
                            <a href="{% url 'event_view' event.slug %}?next={{ request.path }}"
                                class="text-decoration-none text-black text-opacity-75 text-capitalize"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check Event's Details"
                                aria-label="event details">
                                {{ event.title }}
                            </a>
                        </h5>
                        <div>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-regular fa-calendar-days me-1"></i>
                                {{ event.event_date }}
                            </p>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-regular fa-clock me-1"></i>
                                {{ event.event_start_time }} - {{ event.event_end_time }}
                            </p>
                            <p class="card-text text-black text-opacity-50 my-0">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                {{ event.location }}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-start">
                        {% if user == event.organizer %}
                        <div class="text-center">
                            <i class="fa-solid fa-clipboard-list fa-xl text-success text-opacity-75"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="You're hosting this event"
                                aria-label="You're hosting this event"></i>
                        </div>
                        {% else %}
                        <div class="text-center">
                            <i class="fa-solid fa-ticket fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Attended" aria-label="Attended"></i>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'rating_submit' event.slug %}?next={{ request.path }}" class="btn btn-link">
                                <i class="fa-regular fa-star fa-xl text-warning text-opacity-75"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="How was it?"
                                    aria-label="How was it?"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    <p class="text-center">You haven't hosted any events or reserved a spot for any events yet.</p>
</div>
{% endif %}

{% endblock %}