{% extends "action_picture_base.html" %}
{% load allauth i18n %}

{% block head_title %}
{% trans "Rate Event" %}
{% endblock head_title %}

{% block content %}
<h2 class="text-center">Create Review</h2>
<h5 class="text-center text-body-secondary opacity-50">for</h5>
<h4 class="text-center text-body-secondary opacity-75 mb-5">{{ event.title }}</h4>


{% if form.rating.errors %}
<ul class="errorlist">
    {% for error in form.rating.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="w-75" id="event-rating-form">
    <form method="POST">
        <div class="mb-3">
            {{ form.review_text.label_tag }}
            {{ form.review_text }}
        </div>

        <hr class="my-2 border-secondary-subtle">

        <div class="text-center">
            <div id="id-rating" class="d-flex justify-content-center mb-3">
                <label for="rating-value">{{ form.rating.label }}</label>
                {% for i in "12345" %}
                <button type="button" class="star-btn btn p-0" data-value="{{ i }}" aria-label="Rating value">
                    <i class="fa-regular fa-star fa-xl text-warning text-opacity-75" data-value="{{ i }}"></i>
                </button>
                {% endfor %}
                <input name="rating" id="rating-value" value="" style="display:none">
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row gap-2">
            <button type="submit" class="btn btn-secondary text-opacity-75 flex-fill btn-scale"
                aria-label="Rating Submit">Submit</button>
            <a href="{{ next }}"
                class="btn btn-outline-default active text-body-secondary text-opacity-75 flex-fill btn-scale">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}