{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woofspot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ STATIC_VERSION }}">
    <!-- Meta tags for search engines -->
    <meta name="description" content="Explore a dedicated platform for pet lovers to find and join pet-friendly activities and 
                     meetups near you. Connect with like-minded individuals and share memorable experiences 
                     with your pets in a community that celebrates companionship and fun.">
    <meta name="keywords"
        content="pet, happy, dog parks, pet-friendly calendar, Ireland events, outdoor pet events, pet lovers">
    <!-- Favicon -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
</head>

<body>
    <div class="forbitten-container d-flex flex-column justify-content-center overflow-hidden vh-100"
        style="background-image: url(https://res.cloudinary.com/stipaxa/image/upload/v1736643192/Woofspot/403.webp)">
        <div class="p-4 bg-secondary bg-opacity-75">
            <img src="https://res.cloudinary.com/stipaxa/image/upload/v1736937201/Woofspot/ws_light_logo.svg"
                alt="Woofspot logo" class="error-page-logo-img ms-3">
            <h1 class="display-4 text-light text-opacity-100 ms-3">403: Access Denied</h1>
            <p class="text-light text-opacity-100 fs-5 pb-0 mb-0 ms-3">
                You’re Not Allowed Here.</p>
            <a href="{% url 'home' %}" class="btn btn-info fs-5 mt-4 px-3 px-md-5 text-black text-opacity-75 ms-3">
                <i class="fa-solid fa-house me-2"></i>Return to Home
            </a>
        </div>
</body>

<script src="https://kit.fontawesome.com/32c1244c27.js" crossorigin="anonymous"></script>

</html>