{% load static %}
{% url 'account_logout' as account_logout_url %}
{% url 'event_create' as event_create_url %}
{% url 'event_edit' slug=event.slug as event_edit_url %}
{% url 'event_delete' slug=event.slug as event_delete_url %}
{% url 'reservation_cancel' slug=event.slug as reservation_cancel_url %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woofspot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Meta tags for search engines -->
    <meta name="description" content="Explore a dedicated platform for pet lovers to find and join pet-friendly activities and 
        meetups near you. Connect with like-minded individuals and share memorable experiences 
        with your pets in a community that celebrates companionship and fun.">
    <meta name="keywords"
        content="pet, happy, dog parks, pet-friendly calendar, Ireland events, outdoor pet events, indoor pet events, pet lovers">
    <!-- Favicon -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
</head>

<body class="bg-body-tertiary">
    <div class="action-picture-base-container m-0 p-0 overflow-x-hidden">
        <div class="row d-flex h-100">
            <!-- image column -->
            <div class="col-md-6 d-none d-md-block">
                {% if request.path == account_logout_url %}
                <div class="action-picture-image w-100 h-100"
                    style="background-image:url('https://res.cloudinary.com/stipaxa/image/upload/v1736896063/Woofspot/puppy_on_bed.webp')"
                    aria-label="puppy on bed">
                </div>
                {% elif request.path == reservation_cancel_url %}
                <div class="action-picture-image w-100 h-100"
                    style="background-image:url('https://res.cloudinary.com/stipaxa/image/upload/v1736895582/Woofspot/dog_and_cat.webp')"
                    aria-label="dog and cat">
                </div>
                {% elif request.path == event_delete_url %}
                <div class="action-picture-image w-100 h-100"
                    style="background-image:url('https://res.cloudinary.com/stipaxa/image/upload/v1736895223/Woofspot/brown_dog.webp')"
                    aria-label="brown dog">
                </div>
                {% elif request.path == event_edit_url %}
                <div class="action-picture-image w-100 h-100"
                    style="background-image:url('https://res.cloudinary.com/stipaxa/image/upload/v1736895444/Woofspot/dachshund.webp')"
                    aria-label="dachshund">
                </div>
                {% elif request.path == event_create_url %}
                <div class="action-picture-image w-100 h-100"
                    style="background-image:url('https://res.cloudinary.com/stipaxa/image/upload/v1736895939/Woofspot/happy_french.webp')"
                    aria-label="happy french">
                </div>
                {% else %}
                <div class="action-picture-image w-100 h-100"
                    style="background-image:url('https://res.cloudinary.com/stipaxa/image/upload/v1736896325/Woofspot/running_puppy.webp')"
                    aria-label="running puppy">
                </div>
                {% endif %}
            </div>
            <!-- form column -->
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <div class="xmark-icon position-fixed top-0 end-0 m-3 z-3">
                    <a href="{{ next|default:'/' }}" class="btn rounded-circle">
                        <i class="fa-regular fa-circle-xmark fa-xl text-black text-opacity-25"></i>
                    </a>
                </div>
                <div class="action-picture-form d-flex flex-column justify-content-center align-items-center p-4 w-100">
                    <div class="text-center d-flex align-items-center mb-3">
                        <img src="https://res.cloudinary.com/stipaxa/image/upload/v1736895057/Woofspot/branding_text.webp"
                            alt="Woofspot branding text image" id="action-picture-logo-text">
                        <!-- Pass the file path dynamically using a data-* attribute in the HTML template:  -->
                        <canvas id="rive-dog"
                            data-src="https://res.cloudinary.com/stipaxa/raw/upload/v1736892436/Woofspot/doggo.riv"></canvas>
                    </div>

                    <div id="loading-spinner" class="spinner-overlay d-none">
                        <div class="spinner-border text-danger text-opacity-75" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    {% block content %}
                    <!-- Content goes here -->
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"
        defer>
        </script>
    <script src="https://kit.fontawesome.com/32c1244c27.js" crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/@rive-app/canvas@2.20.0" defer></script>
    <script type="module" src="{% static 'js/script.js' %}" defer></script>
</body>

</html>