{% load static %}
{% url 'search_results' as search_results_url %}
{% url 'my_signin' as my_signin_url %}
{% url 'my_signout' as my_signout_url %}
{% url 'profile' as profile_url %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woofspot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ STATIC_VERSION }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32_1.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16_1.png' %}">
</head>

<body class="bg-body-tertiary d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center my-2 mx-4">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'images/woofspot_logo.svg' %}" alt="Woofspot logo" class="img-fluid logo-size">
            </a>
        </div>

        <div class="d-flex gap-3">
            <div class="search-form-container">
                <form method="GET" action="{% url 'search_results' %}" id="search-form" class="d-flex">
                    <label for="search-input">
                        <input type="text" id="search-input" class="form-control me-2" name="query"
                            placeholder="Search on woofspot" minlength="2" size="20" autocomplete="off"
                            aria-label="Search" required></label>
                    <button type="submit" id="bth-search-form">Search</button>
                </form>
            </div>
            <div>
                {% if user.is_authenticated %}
                <div class="user-icon">
                    <button type="button" class="btn btn-primary rounded-circle text-uppercase"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username|slice:":1" }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end mt-2 text-black">
                        <li>
                            <p class="dropdown-item text-black text-opacity-50">
                                <i class="fa-regular fa-user me-1"></i>
                                {{ user.username }}
                            </p>
                        </li>
                        <hr class="dropdown-divider text-black text-opacity-50" />
                        <li><a href="{% url 'events' %}?next={{ next }}"
                                class="dropdown-item text-black text-opacity-50">
                                <i class="fa-solid fa-ticket"></i>
                                My events</a></li>
                        <li>
                            <hr class="dropdown-divider text-black text-opacity-50" />
                        </li>
                        <li><a href="{% url 'my_signout' %}" class="dropdown-item text-black text-opacity-50">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'my_signin' %}"
                        class="btn btn-outline-default active fw-semibold text-danger text-opacity-75 px-3">
                        Get started
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if request.path == home_url %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide my-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static 'images/girl_and_puppy.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block bg-white bg-opacity-75">
                    <h4 class="text-body-secondary">Huh? Where are we going?</h4>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'images/corgi_with_big_dog.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block bg-white bg-opacity-75">
                    <h4 class="text-body-secondary">Wait, is that a new friend I see?</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/two_bzi_bza.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block bg-white bg-opacity-75">
                    <h4 class="text-body-secondary">Let's be friends!</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}

    <main role="main" class="container">
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/32c1244c27.js" crossorigin="anonymous"></script>
</body>

</html>