<div>
    <form method="POST" action="{% url 'reservation_cancel' event.slug %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-link m-0 p-0 btn-scale" aria-label="Cancel Reservation confirm">
            <i class="fa-regular fa-rectangle-xmark fa-xl text-danger text-opacity-75" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Changing your plans?"></i>
        </button>
    </form>
</div>