<div class="edit-container">
    <a href="{% url 'event_edit' event.slug %}?next={{ request.path }}" class="btn btn-link">
        <i class="fa-regular fa-pen-to-square fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Edit event" aria-label="Edit event"></i>
    </a>
</div>
<div class="cancel-container">
    <form method="POST" action="{% url 'event_delete' event.slug %}?next={{ request.path }}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">
            <i class="fa-regular fa-trash-can fa-xl text-danger text-opacity-75" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Cancel event" aria-label="Cancel event"></i>
        </button>
    </form>
</div>