<!-- Start of future events section -->
{% if not event.is_past and user == event.organizer %}
{% include "edit_delete_event_container.html" %}
{% endif %}

{% if not event.is_past and user != event.organizer and event.is_user_attendee %}
{% include "like_container.html" %}
<div>
    <i class="fa-solid fa-ticket fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Planning To Attend" aria-label="Attend"></i>
</div>
{% include "cancel_reservation_container.html"%}
{% endif %}

{% if not event.is_past and user != event.organizer and not event.is_user_attendee %}
{% include "like_container.html" %}
<div>
    <form method="POST" action="{% url 'reservation_submit' event.slug %}?next={{ request.path }}">
        {% csrf_token %}
        <button type="submit" name="reserve_spot" class="btn btn-link">
            <i class="fa-solid fa-plus fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Do You Want To Join?" aria-label="Join to event"></i></button>
    </form>
</div>
{% endif %}
<!-- End of future events section -->

<!-- Start of past events section -->
{% if event.is_past and user == event.organizer %}
<div class="text-center">
    <i class="fa-solid fa-clipboard-list fa-xl text-success text-opacity-75" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Hosted by You" aria-label="Hosted by You"></i>
</div>
<div class="text-center d-flex flex-row">
    <a href="{% url 'event_view' event.slug %}#reviews-section" class="btn btn-link m-0 px-0" tabindex="-1"
        aria-disabled="true">
        <i class="fa-solid fa-star fa-xl text-warning text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Your Event's Rating" aria-label="Event's rating"></i>
    </a>
    <p class="fw-semibold text-warning text-opacity-75">
        {% if event.average_rating %}
        {{ event.average_rating }}
        {% else %}
        0
        {% endif %}
    </p>
</div>
{% endif %}

{% if event.is_past and user != event.organizer and event.is_user_attendee %}
<div class="text-center">
    <i class="fa-solid fa-ticket fa-xl text-primary text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Attended by You" aria-label="Attended by you"></i>
</div>
<div class="text-center d-flex flex-row">
    <a href="{% url 'rating_submit' event.slug %}?next={{ request.path }}" class="btn btn-link m-0 px-0">
        <i class="fa-solid fa-star fa-xl text-warning text-opacity-75" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Share Your Feedback" aria-label="Share feedback"></i>
    </a>
    <p class="fw-semibold text-warning text-opacity-75">
        {% if event.average_rating %}
        {{ event.average_rating }}
        {% else %}
        0
        {% endif %}
    </p>
</div>
{% endif %}

{% if event.is_past and user != event.organizer and not event.is_user_attendee %}
<div class="tooltip-wrapper text-center d-flex flex-row m-0 p-0">
    <div data-bs-toggle="tooltip" data-bs-placement="top" title="The Event's Rating" aria-label="The event's rating">
        <a href="#" class="btn disabled opacity-100 text-warning text-opacity-75 border-0 m-0 px-0">
            <i class="fa-solid fa-star fa-xl text-warning text-opacity-75"></i>
        </a>
    </div>
    <p class="fw-semibold text-warning text-opacity-75 m-0">
        {% if event.average_rating %}
        {{ event.average_rating }}
        {% else %}
        0
        {% endif %}
    </p>
</div>
{% endif %}
<!-- End of past events section -->