{% url 'account_login' as account_login_url %}

<div class="d-flex align-items-center" id="like-container" hx-post="{% url 'like_toggle' event.slug %}"
    hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div>
        {% if user.is_authenticated %}
        <button type="submit" class="btn p-0">
            {% if user in event.liked_by.all %}
            <i class="fa-solid fa-heart fa-xl text-danger text-opacity-50"></i>
            {% else %}
            <i class="fa-regular fa-heart fa-xl text-danger text-opacity-50"></i>
            {% endif %}
        </button>
        {% else %}
        <a href="{% url 'account_login' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Login to like">
            <i class="fa-regular fa-heart fa-xl text-danger text-opacity-50"></i>
        </a>
        {% endif %}
    </div>
    <div>
        <p class="fw-semibold text-danger text-opacity-50 mb-0">{{ event.like_count }}</p>
    </div>
</div>