<div class="d-flex align-items-center justify-content-center mb-2 mb-md-0" id="like-container"
    hx-post="{% url 'like_toggle' event.slug %}" hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if user.is_authenticated %}
    <button type="submit" class="btn p-0" aria-label="Like event">
        {% if user in event.liked_by.all %}
        <i class="fa-solid fa-heart fa-xl text-danger text-opacity-75"></i>
        {% else %}
        <i class="fa-regular fa-heart fa-xl text-danger text-opacity-75"></i>
        {% endif %}
    </button>
    {% else %}
    <a href="{% url 'account_login' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Login to like"
        aria-label="Login to like event">
        <i class="fa-regular fa-heart fa-xl text-danger text-opacity-75 hover-scale"></i>
    </a>
    {% endif %}
    <p class="fw-semibold text-danger text-opacity-75">{{ event.like_count }}</p>
</div>